body{
  font-family: Monospace;
}

.board{
  display: flex;
}
.section{
  width: 500px;
  margin:4px;
  padding:4px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.paper,#drag1{
  font-family: Comic Sans MS;
  width: 100px;
  height: 100px;
  background-color: #ffff88;
  box-shadow: 2px 2px 12px;
  margin: 1px;
}

#task01{
  background-color: transparent;
  width: 95px;
  height: 70px;
  border: none;
  outline: none;
}


#section1 .paper{
  width: 100px;
  height: 100px;
  background-color: #f5d128;
  box-shadow: 2px 2px 12px;
  margin: 1px;
}

.task-title{
  
}

#section1-1 .paper{
  width: 100px;
  height: 100px;
  background-color:;
  border:1px solid;
  margin: 1px;
}


#section2 .paper{
  width: 100px;
  height: 100px;
  background-color: #a6ccf5;
  box-shadow: 2px 2px 12px;
  margin: 1px;
}

#section3 .paper{
  width: 100px;
  height: 100px;
  background-color: #ea94bb;
  box-shadow: 2px 2px 12px;
  margin: 1px;
}

#section4 .paper{
  width: 100px;
  height: 100px;
  background-color: #b384bb;
  box-shadow: 2px 2px 12px;
  margin: 1px;
}

.paper.over {
  border: 2px dotted #666;
}

.dropbox{
  border-radius:8px;
  border:2px dashed black;
  width: 300px;
  height: 400px;
  background-color:lightgrey;
}
